<aside class="sidebar journal-sidebar flexcol" {{#unless IsMultipleItems}} hidden {{/unless}}>

    {{!-- Sidebar Search --}}
    <search>
        <input type="search" name="search" autocomplete="off" placeholder="{{ localize 'module-credits.dialog.preview.search' }}"
               aria-label="{{ 'module-credits.dialog.preview.search' }}">
        <button type="button" class="inline-control collapse-toggle icon {{ expandMode.icon }}"
                data-action="toggleSidebar" data-tooltip aria-label="{{ localize expandMode.label }}"></button>
    </search>

    {{!-- Table of Contents --}}
    <nav class="toc" data-tooltip-direction="RIGHT">
        <ol>
            {{#each toc}}

            {{!-- Pages --}}
            <li class="{{ tocClass }}" data-page-id="{{ id }}" {{#if hidden}}hidden{{/if}} data-file-type="{{this.type}}">
                <div class="page-heading" data-action="goToHeading">
                    <span class="page-index" data-tooltip-text="{{ name }}">{{ number }}</span>
                    <span class="page-title ellipsis">{{ name }}</span>
                    {{#if icon}}
                    <span class="page-ownership {{ icon }}" {{#unless @root.IsGM}}hidden{{/unless}}></span>
                    {{/if}}
                </div>
            </li>

            {{/each}}
        </ol>
    </nav>

    {{!-- Page Navigation Buttons --}}
    <footer class="action-buttons flexrow">
        <button type="button" class="markAsSeen" data-action="markAsSeen" {{#unless IsGM}}hidden{{/unless}}>
            <i class="fas fa-eye" inert></i>
            <span>{{ localize "module-credits.dialog.preview.markAsSeen" }}</span>
        </button>
        <button type="button" class="previous icon fas fa-chevron-left" data-action="previousPage" data-tooltip
                aria-label="{{ localize "JOURNAL.PrevPage" }}"></button>
        <button type="button" class="next icon fas fa-chevron-right" data-action="nextPage" data-tooltip
                aria-label="{{ localize "JOURNAL.NextPage" }}"></button>
    </footer>
</aside>
